@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.content_field {
	  width: 600px; 
	  min-width:800px; 
	  max-width:800px; 

	  height:400px; 
	  min-height:400px;  
	  max-height:400px;
}

.btn {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
}

.form-actions {
	background-color: white;
	border-top: none;
}

li#signed-in {
  float: right;
}

li#sign-out {
  float: right;
}