<ul class='nav nav-tabs'>
  <li>
    <%= link_to 'Home', root_path, "data-toggle" => "tab" %>
  </li>
  <li>
    <%= link_to 'Links', links_path, "data-toggle" => "tab" %>
  </li>
  <li>
    <%= link_to 'New Link', new_link_path, "data-toggle" => "tab" %>
  </li>
</ul>


<ul class="nav nav-tabs">
  <li><a href="#home" data-toggle="tab">Home</a></li>
  <li><a href="#profile" data-toggle="tab">Profile</a></li>
  <li><a href="#messages" data-toggle="tab">Messages</a></li>
  <li><a href="#settings" data-toggle="tab">Settings</a></li>
</ul>

