<div class='navbar' id='universal_nav'>
  <div class='navbar-inner'>
    <ul class='nav'>
      <li class='active'>
        <%= link_to 'Home', root_path %>
      <li>
        <%= link_to 'Links', links_path %>
      </li>
      <li>
        <%= link_to 'New Link', new_link_path %>
    </ul>
    <ul class='nav-btn pull-right'>

      <% unless user_signed_in? %>
      <li>
        <a class='btn btn-simple' href='/logins/new'>
          <i class='icon-user icon-large'></i>
          Login
        </a>
      </li>
      <% end %>

    </ul>
  </div>
</div>